body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.cart{
    width: 100%;
    padding: 20px 30px;
    height: 100%;
}
.cart h3{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #232323;
    font-weight: normal;
}
.cart-container{
    display: flex;
    
}
.cart .emptycart{
    width: 100%;
    align-items: center;
}
.cart .emptycart{
    font-size: 250%;
}
.cart .emptycart h2{
    
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #232323;
    letter-spacing: 1px;
}

.cart .emptycart button{
    
    margin-left: 45%;
    padding: 10px 30px;
    margin-top: 10px;
    background: #fed700;
    color: #cd176c;
    border: none;
    outline: none;
    border: 1px solid #fed700;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.cart .emptycart button:hover{
    /* transition: 0.4s;  */
    box-shadow: 0px 0px 2px 0px black;
    
}
.cart .container{
    max-width: 100%;
    padding: 10px 10px;
    /* border: 2px solid blue; */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart .container .leftbox{
    /* border: 1px solid black; */
    height: calc(170px * 3);
    width: 70%;
    overflow-y: auto;
    border-radius: 5px;
    padding: 30px;
}
.cart .container .rightbox{
    border: 2px solid black;
    width: 330px;
    padding: 10px 0px;
    height: 290px;
    border-radius: 5px;
}
table{
    width: 100%;
    /* border: 2px solid yellow; */
    border-bottom: 2px dashed lightgray;
}
.totalprice{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.totalprice table td{
    padding-bottom: 10px;
}
table td{
    padding-bottom: 20px;
}
.checkout{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout button{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.cart .container .rightbox .pricedetails{
    padding: 10px;
}
.cart .container .rightbox .rightboxheading{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
span{
    padding-left: 10px;
    color: rgb(130, 130, 130);
    /* font-weight: bold; */
}
.cart .container .box{
    width: 100%;
    display: flex;
    border-bottom: 2px solid #dedcdc;
    height: 180px;
    margin-top: 10px;
    justify-content: space-around;
    /* border: 2px solid yellow; */
}
/* .cart .container .box:hover{
    transform: scale(0.8);
    transition: 0.4s;
} */

.cart .container .box .imgbox{
    width: 200px;
    height: 50px;
}

.cart .container .box .imgbox img{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 0px;
}

.cart .container .box .detail{
    display: flex;
    width: 100%;
}
.cart .container .box .detail .info{
    margin-top: 20px;
    margin-left: 30px;
}
.cart .container .box .detail .info h4{
    text-transform: uppercase;
    font-size: 14px;
    color: #818181;
}
.cart .container .box .detail .info h3{
    margin-top: 10px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.cart .container .box .detail .info p{
    margin-top: 10px;
    color: black;
    font-size: 17px;
}
.cart .container .box .detail .quantity{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    margin-bottom: 20px;
}
.cart .container .box .detail .quantity button{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    outline: none;
    background: black;
    font-weight: bold;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
}
.cart .container .box .detail .quantity input{
    height: 30px;
    padding-left: 10px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid #afafaf;
    color: #afafaf;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    width: 50px;
    margin: 0px 5px;
    text-align: center;
    /* box-sizing: border-box; */
}

.cart .container .box .icon{
    /* border: 2px solid green; */
    margin: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.cart .bottom .total{
    border: 2px solid rgb(243, 169, 169);
    width: 14%;
    padding: 10px;
    border-radius: 10px;
    background: rgb(247, 71, 71);
    text-align: center;
}
.cart .bottom .total h4{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.cart .bottom .bottomwork{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 20px;
}

.cart .bottom .bottomwork button{
    font-size: 20px;
    width: 180px;
    cursor: pointer;
    border-radius: 10px;
    background: black;
    color: white;
}

.cart .bottom .bottomwork button:hover{
    box-shadow: 0px 0px 2px 2px rgb(243, 132, 132);
    transition: 0.5s;
}

@media (min-width:340px) and (max-width:600px)
{   
    .cart .container{
    min-width: 270%;
    padding: 0px;
    }
    .cart .container .box{
    width: 100%;
    }
    .cart .bottom{
        display: flex;
        justify-content: space-between;
        width: 240%;
    }
    .cart .bottom .bottomwork{
        display: flex;
        justify-content: space-between;
        width: 240%;
    }
    .cart .bottom .bottomwork .total{
        width: 30%;
    }
    .cart .bottom .total{
    width: 54%;
    }
    .cart .container .box .imgbox img{
    width: 100px;
    height: 100px;
}
.cart .container .leftbox{
    padding: 0px;
}
.cart .container .box .detail .info{
    margin-top: 0px;
    margin-left: 0px;
}
.cart .container .box .detail .info h3{
    font-size: 15px;
}
.cart .container .box .detail .info p{
    font-size: 15px;
}
.cart .container .rightbox{
    border: 2px solid black;
    width: 280px;
    padding: 10px 0px;
    height: 290px;
    border-radius: 5px;
}
}