*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.footer{
    width: 100%;
    padding: 30px 40px;
    background: #e8e7e7;
}
.footer .container{
    display: flex;
    max-width: 100%;
}
.footer .container .leftbox{
    width: 30%;
    padding: 20px 20px;
    border-right: 2px solid rgb(170, 167, 167);
}
.footer .container .leftbox .box{
    display: flex;
    padding: 10px 20px;
    margin-top: 15px;
}
.footer .container .leftbox .box .iconbox{
    font-size: 26px;
    color: red;
}
.footer .container .leftbox .box .detail{
    margin-left: 10px;
}
.footer .container .leftbox .box .detail h3{
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(117, 123, 234);
    font-weight: 300px;
}
.footer .container .leftbox .box .detail p{
    font-size: 12px;
}

.footer .container .rightbox{
    width: 100%;
    padding: 20px 20px;
}
.footer .container .rightbox .top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .container .rightbox img{
    width: 200px;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    mix-blend-mode: multiply;
}

.footer .container .rightbox .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    letter-spacing: 1px;
    
}
.footer .container .rightbox .bottom p{
    color: rgb(157, 157, 157);
    margin-top: 6px;
}
.footer .container .rightbox .bottom p:hover{
    cursor: pointer;
    color:red;
}

.patent{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}